img{
    width: 100%;
    height: auto;
    max-height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.describtion{
    text-align: center;
    margin: 10%;
    color: white;
}
.imgFrame{
    height: 230px;
}
.price{
    margin-left: 35%;
    width: 30%;
    border-radius: 10px;
    background-color: rgb(48, 48, 48);
    text-align: center;
    color: rgb(255, 255, 255);
}
.box{
    border-radius: 15px;
    border: rgb(119, 119, 119) solid 1px;
    background-color: rgb(61, 61, 61);
    list-style: none;
    width: 350px;
    height: 420px;
    font-size: 22px;
    transition: 0.25s;
}
.box:hover{
    background-color: rgb(73, 73, 73);
    border-bottom: #00cc00 solid 5px;
}
.shop {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, 420px, 1fr);
    grid-auto-flow: row;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
    padding: 0;
    margin: 0;
}
@media  (orientation : portrait){
    .box{
        font-size: 30px;
        height: 40vh;
        width: auto;
        font-size: 50px;
    }
    .shop{
        grid-template-rows: repeat(2,);
    }
}