body{
    background-color: rgb(53, 53, 53);
}
img{
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.describtion{
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-size: 25px;
}
.price{
    padding-right: 25px;
    padding-top: auto;
    text-align: end;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.container{
    border-radius: 15px;
    background-color: rgb(82, 82, 82);
    text-align: center;
    list-style: none;
    width: 350px;
    height: auto;
}
.shop {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 10px;
}
@media screen and (min-width: 800px)