body{
    margin: 0;
    padding: 0;
    scrollbar-width: 100px;
}
#header{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
#productive{
    margin-top: auto;
    margin-bottom: auto;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    
}
#navMenu .noneborder{
    border: none;
}
#logo{
    width: 100px;
    height: 50px;
    margin: 0;
}
#companyname{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
a {
    text-decoration: none;
}
#navMenu {
    margin-bottom: auto;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

#navMenu ul{
    padding: 1em 0;
    background: black;
    list-style: none; 
    text-align: center;
    margin-right: 5%;
    font-size: 13px;    
}
#navMenu a {
  padding: 1em;
  background: black;
  border-left: 1px solid white;
  border-right: 1px solid white;
  color: white;
}
#navMenu li {
    display: inline;
}

#phonenumber{
    float: right;
    color: white;
    justify-content: end;
    align-items: center;
    margin-right: 2%;
    margin-top: auto;
    margin-bottom: auto;
}
#navMenu #rightborder{
 border-right: 1px solid white;
 border-left: none;
}
