@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&family=Bungee+Inline&family=Bungee+Outline&display=swap');
body{
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
}
#header{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
#productive{
    margin-top: auto;
    margin-bottom: auto;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    
}
#navMenu #noneborder{
    border: none;
}
#logo{
    width: 10px;
    height: 50px;
    margin: 0;
}
#companyname{
    width: 500px;
    color: rgb(255, 255, 255);
    font-family: 'Bungee', cursive;
    /* font-family: 'Bungee Hairline', cursive; */
    /* font-family: 'Bungee Inline', cursive; */
    font-family: 'Bungee Outline', cursive;
    font-size: 15px;
}
a {
    text-decoration: none;
}
#navMenu {
    margin-bottom: auto;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

#navMenu > ul{
    padding: 1em 0;
    background: black;
    list-style: none; 
    text-align: center;
    margin-right: 5%;
    font-size: 13px;    
}
#navMenu a {
  padding: 1em;
  background: black;
  border-left: 1px solid white;
  border-right: 1px solid white;
  color: white;
}
#navMenu li {
    display: inline;
}

#phonenumber{
    float: right;
    color: white;
    justify-content: end;
    align-items: center;
    margin-right: 2%;
    margin-top: auto;
    margin-bottom: auto;
}
#navMenu #rightborder{
 border-right: 1px solid white;
 border-left: none;
}
#noneborder:hover, #rightborder:hover, #bborder:hover,li:hover{
    background-color: rgb(68, 68, 68);
}