body{
    padding: 0;
    margin: 0;
    background-color: rgb(53, 53, 53);
}
#content{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: start;
    color: white;
}
#content img{
    max-width: 600px;
    width: 45vw;
    height: auto;
    margin-left: auto;
}
#text{
    margin-bottom: 27%;
    margin-right: 30px;
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
    padding: 1% 3% 3% 3%;
    border: rgb(119, 119, 119) solid 1px;
}
h1{
    font-size: 40px;
}
#content h2{
    font-size: 30px;
    text-align: end;
    padding-top: 10px;
}
@media (max-width: 880px) , (orientation : portrait){
    #content{
        display: flex;
        flex-direction: column;
    }
    #content img{
        width: 100%;
        height: auto;
        max-width: 1080px;
        margin: 0;
        padding: 0;
    }
    #text{
        margin-bottom: 5%;
        margin-right: 0;
    }
    
}